<!-- Morris Charts JavaScript -->
<script src="/js/raphael.min.js"></script>
<script src="/js/morris.min.js"></script>
<script src="/js/morris-data.js"></script>

<script>

// If there is no current project set (on the server side) then request a load or selection.
$(document).ready(function () {

    console.log("{{projectmgr.current_project}}");
    var current_project = "{{ projectmgr.current_project? projectmgr.current_project:0 }}";
    
    // Show project load/selection modal
    if(current_project.length === 0) {
        $("#modalProjectSelect").modal({
            backdrop: 'static',
            keyboard: false
        });
    }

    $("#openProject").on("click", function(evt){
        $("#modalProjectSelect").modal({
            backdrop: 'static',
            keyboard: false
        });
    });
});

</script>

{% include("/modals/project_selection_js.html") %}