
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover sys-folders-list">
        <thead>
            <tr>
                <th>
                    <form role="form">
                        <div class="form-group btn-group input-group">
                            <span class="input-group-addon">Folder Path</span>
                            <input id="project-select-path" type="text" class="form-control" placeholder="{{ projectmgr.sys.current_folder }}">
                            {% if projectmgr.sys.has_create==1 %}
                            <div id="project-select-create" class="input-group-btn"><button type="button" class="btn btn-primary">Create Project</button></div>
                            {% endif %}
                        </div>
                    </form>                    
                </th>
            </tr>
        </thead>
        <tbody>
            {% for folder in projectmgr.sys.folders %}
            <tr>
                {% if folder.folder or folder.name == ".." %}
                <td class="sys-select-folder">{{ folder.name }}</td>
                {% else %}
                <td class="sys-folders-list-project">{{ folder.name }} <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Open the project"><i class="fa  fa-arrow-right fa-fw"></i></button></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
